table td,
table th {
	font-size: 80%;
	padding: 0.3rem;
}

.table-shaded {
	border: none !important;
	background-image: repeating-linear-gradient(-45deg, transparent 0 3px, #fff3cd 3px 6px);
}

.github {
	background-image: url(../github/github-mark.svg);
	background-repeat: no-repeat;
	min-width: 2rem;
	min-height: 2rem;
}
.github-light {
	background-image: url(../github/github-mark-white.svg);
	background-repeat: no-repeat;
	display: block;
	width: 32px;
	height: 32px;
}
