:root {
	--bs-code-color: navy;
}

.btn-xs {
	--bs-btn-padding-y: .25rem;
	--bs-btn-padding-x: .4rem;
	--bs-btn-font-size: .65rem;
}

img.icon-small {
	height: 16px;
} 
img.icon-medium {
	height: 32px;
} 

table td,
table th {
	font-size: 90%;
	padding: 0.3rem;
}

.table-shaded {
	border: none !important;
	background-image: repeating-linear-gradient(-45deg, transparent 0 3px, #fff3cd 3px 6px);
}

label {
	cursor: pointer;
}

h1.toUnicodeVariant:before {
	font-size: small;
	color: #666;
	display: block;
	position: relative;
	top: .1rem;
	content: 'toUnicodeVariant'
}

