
.btn-xs {
	--bs-btn-padding-y: .25rem;
	--bs-btn-padding-x: .4rem;
	--bs-btn-font-size: .65rem;
}

table td,
table th {
	font-size: 90%;
	padding: 0.3rem;
}

.table-shaded {
	border: none !important;
	background-image: repeating-linear-gradient(-45deg, transparent 0 3px, #fff3cd 3px 6px);
}

label {
	cursor: pointer;
}

.btn-toggle.collapsed:before {
	content: '▲';
	color: #000;
	font-weight: bold;
	font-size: .8rem;
}
.btn-toggle:not(.collapsed):before {
	content: '▼';
	color: #000;
	font-weight: bold;
	font-size: .8rem;
}

/*
#toggle-combinings.collapsed:before {
	content: '↧';
	color: #000;
	font-weight: bold;
	font-size: .8rem;
}
#toggle-combinings:not(.collapsed):before {
	content: '↥';
	color: #000;
	font-weight: bold;
	font-size: .8rem;
}
*/

h1.toUnicodeVariant {
}
h1.toUnicodeVariant:before {
	font-size: small;
	color: #6c757d;
	display: block;
	position: relative;
	top: .1rem;
	content: 'toUnicodeVariant'
}

